Checks: '
    -*,
    bugprone-unchecked-optional-access,
    modernize-use-nullptr,
    readability-function-size,
    readability-function-cognitive-complexity
'
CheckOptions:
  - { key: readability-function-size.LineThreshold,             value: 60 }
  - { key: readability-function-size.ParameterThreshold,        value: 6 }
  - { key: readability-function-cognitive-complexity.Threshold, value: 25 }

WarningsAsErrors: '*'
HeaderFilterRegex: '(?!^subprojects).*'
