[Unit]
Description=Phosphor SPDM Daemon
Wants=xyz.openbmc_project.entity_manager.service

[Service]
Restart=always
Type=dbus
BusName=xyz.openbmc_project.spdm.spdmd
ExecStart=/usr/libexec/spdmd
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
